body {
    background-image: linear-gradient(to bottom right, rgba(177,192,198,1) 35%, white);
    background-attachment: fixed;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}
